/**
 * Background color names
 *
 * Type: Map
 */

$iota-utils-bgcolor-names: (
  tango: #ef5231
);


/**
 * Namespace classes
 *
 * Type: String
 */

$iota-utils-bgcolor-namespace: 'bgcolor-';


@import 'node_modules/iotacss/utilities/bgcolor';
