// Button Component

// Options

$iota-components-button            : true;

$iota-components-button-namespace  : 'button' !default;

$iota-components-button-color      : rgb(255, 255, 255) !default;
$iota-components-button-margin     : 0 !default;
$iota-components-button-padding    : $iota-global-gutter-default !default;
$iota-components-button-border     : none !default;
$iota-components-button-background : rgb(57, 178, 255) !default;




// Button Component

@import 'node_modules/iotacss-components-button/components.button';

.c-button--primary {
  border-radius: 4px;
}
