.o-page-header {
  background: #6a3093;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a044ff, #6a3093);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a044ff, #6a3093); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .o-type-promo {
    color: $oc-gray-0;
  }

  .o-type-lead {
    color: $oc-gray-2;
  }
}
